.snap-wrapper {
  height: 100vh;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
}

.snap-section {
  height: 100vh;
  scroll-snap-align: start;
}

// #region hero styles
.hero {
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: row;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  justify-items: center;
  scroll-snap-align: start;
}

.left-aside {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.right-aside {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 60%;
}

.text {
  gap: 16px;
  display: flex;
  flex-direction: column;
}

.left-aside h2 {
  color: #ffa74f;
  text-transform: uppercase;
}

.right-aside h4,
p {
  color: #7d8c8c;
}

.hero {
  background: url("../assets/hero.png") center center/cover no-repeat;
  align-items: center;
}

.heading {
  display: flex;
  flex-direction: column;
  gap: 10px;

  h3 {
    color: #ffa74f;
  }
}

.right-aside button {
  align-self: flex-start;
  width: auto;
  min-width: 0;
}

.me-lol {
  position: absolute;
  bottom: -43%;
  opacity: 0.5;
  transition: all 0.4s ease;

  &::after {
    content: "hmm...";
    position: absolute;
    left: 45%;
    top: 0%;
    transition: all 0.4s ease;
  }
  &:hover::after {
    content: "hello!:)";
    opacity: 1;
  }

  &:hover {
    opacity: 1;
    bottom: -15%;
  }
}
// #endregion
// #region skills section styles
.skills-section {
  display: flex;
  position: relative;
  min-height: 100vh;
  max-width: 1750px;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;
  height: 650px;
  width: 100%;
  box-sizing: border-box;
}
.grid-icons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;

  .grid-icon {
    cursor: pointer;
    align-items: center;
    justify-content: center;
    display: flex;
    background: #1b413ca2;
    border-radius: 8px;
    box-shadow: -2px 4px 4px 0 rgba(11, 26, 24, 0.25) inset;
    transition: all 0.3s ease;

    & svg {
      width: 64px;
      height: 64px;
      fill: #fff;
    }
    &:hover {
      transform: scale(1.05);
    }
  }
}

.grid-item {
  padding: 2rem;
  background: #1b413ca2;
  border-radius: 8px;
  box-shadow: -2px 4px 4px 0 rgba(11, 26, 24, 0.25) inset;

  &-wide {
    padding: 2rem;
    grid-column: span 2;
    background: #1b413ca2;
    border-radius: 8px;
    box-shadow: -2px 4px 4px 0 rgba(11, 26, 24, 0.25) inset;

    h2 {
      color: #ffa74f;
    }
  }
}

.projects {
  cursor: pointer;
  justify-content: space-between;
  align-items: end;
  display: flex;
  position: relative;
  background: #1b413ca2 url("../assets/projects.webp") center center/cover
    no-repeat;
  overflow: hidden;
  transition: all 0.4s ease;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(90deg, #1b413ca8 0%, #122b2800 100%);
    pointer-events: none;
    z-index: 0;
  }

  &:hover {
    transform: scale(1.02);
  }

  .text {
    gap: 4px;
  }

  .icon svg {
    width: 2rem;
    height: 2rem;
  }
}
.text {
  display: flex;
  gap: 1.3rem;
  z-index: 1;
  position: relative;

  span {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  h3 {
    font-size: 2.4rem;
  }

  p {
    font-size: 18px;
  }
}

.tech-stack {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .tech-icons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
  .icon svg {
    width: 42px;
    height: 42px;
  }
}

// #endregion

//#region media queries
@media (max-width: 756px) {
  .snap-wrapper {
    scroll-snap-type: none;
    overflow-y: visible;
  }

  .right-aside {
    display: none;
  }

  .grid-container {
    display: flex;
    flex-direction: column;
  }

  .grid-item, .grid-item-wide, .grid-icons {
    min-height: 300px ;
    aspect-ratio: 1/1;
  }

  .me-lol {
  bottom: -44%;
  transform: scale(0.8);

  &:hover {
    bottom: -30%;
  }
}
}
